.links{
    display: flex;
    background-color:white; 
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
img{
    width: 100px;
    height: 50px;
}
.links a{
    text-align: center;
    text-decoration: none;
    color:rgb(24,128,10);
}
.links a:hover{
    color:rgb(209,43,43);
    background: 
}
button{
    width: 100px;
    border: none;
    border-radius: 50px; 
    background-color: rgb(24,128,10);
    color:white;
    height: 30px;
    position: absolute;
    text-align:center;
    left: 250px;
}
button:hover{
    background:rgb(209,43,43);
    transition: 1s;
}
.extra{
    position: absolute;
    width:50%;
    padding-bottom: 50px;
    text-align: center;
    top:200px;
    right: 20px;
    left: 120px;
    margin:auto;
    background-color: rgba(7, 7, 7, 0.747); 
    color: rgba(244, 250, 244, 0.829);
    font-family: 'Tahoma';
}
